

.affix {
top: -70px;
margin-left: auto;
margin-right: auto;
width: 100%;
z-index: 10000;

background-color:#FFF;
border-bottom:1px solid #CCC;
background: rgba(255, 255, 255, 0.9);

  .logo-img{height:45px;
  margin-top:10px;}

}

.navbar-brand {
  float: left;
  padding: (@navbar-padding-vertical - 22) @navbar-padding-horizontal;
  font-size: @font-size-large;
  line-height: @line-height-computed;
  height: @navbar-height/2;
  }

 .margtop{margin-top:70px;}